body {
    background-color: #9f9eeb;
    color: #221811;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

header {
    background-color: #f6731c;
    text-align: center;
}

h1 {
    line-height: 200%;
}

nav {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #f6731c;
    font-size: 0.90em;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-spacing: 0;
    background-color: #d2bdf3;
}

td,
th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #256de0;
}

a {
    text-decoration: none;
}

mark {
    color: #221811;
}